.btn-primary {
    background-color: #e89b9b;
    border-radius: 20px;
    color: white;
    border: transparent;
    padding: 10px 20px;
}


.recipe_list {
    display: flex;
}

.recipe_thumbnail {
    border: 1px black solid;
    border-radius: 5px;
}