/*************** MAIN STYLE ***************/
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

h1 {
    font-weight: bold !important;
    margin-bottom: 40px !important;
    position: relative;
    padding-bottom: 50px;
}

h1::after {
    display: block;
    content: "";
    position: absolute;
    height: 10px;
    width: 70px;
    background-color: #e89b9b;
    border-radius: 50px;
    transform-origin: center;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: 500;
}

.txt-primary {
    color: #e89b9b!important;
}

.txt-secondary {
    color: #071e82 !important;
}

.small {
    font-size: 0.7rem;
}

.btn-primary {
    background-color: #071e82 !important;
    border-radius: 20px !important;
    color: white !important;
    border: transparent !important;
    padding: 10px 20px !important;
}

.btn-primary:hover {
    background-color: #365bc3 !important;
    color: white !important;
}z

.btn-primary a {
    color: white !important;
}

.btn-secondary {
    background-color: white !important;
    border-radius: 20px !important;
    color: #e89b9b !important;
    border: 1px solid #e89b9b !important;
    padding: 10px 20px !important;
}

.btn-secondary:hover {
    background-color: white !important;
    color: #071e82 !important;
    border: 1px solid #071e82 !important;
}

.btn-secondary:hover a {
    color: #071e82 !important;
}

.btn-secondary a {
    color: #e89b9b !important;
}

.btn-secondary a:hover {
    color: #071e82 !important;
}

.btn a {
    text-decoration: none !important;
}

.action-btn {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(112, 110, 110);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgb(172, 169, 169);
}

.action-btn button {
    color: rgb(112, 110, 110) !important;
    margin-bottom: 5px;
    font-weight: bold;
}

/*************** FOOTER ***************/
footer .footer-links_item {
    list-style: none;
}

footer .footer-links_item a {
    color:white;
    text-transform: uppercase;
    text-decoration: underline;
}

/*************** NAVBAR ***************/

.navbar .btn-primary a {
    color: white !important;
}

.navbar form {
    min-width: 300px;
}

.navbar #profile-btn img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar #profile-btn > a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.navbar #profile-btn .dropdown-item a {
    width: 100%;
    height: 100%;
}

/* LAST RECIPE WIDGET THUMBNAIL */
.recipe-thumbnail h3 {
    font-size: 18px;
    font-weight: bold;
}

a {
    color: black;
}

.recipe-thumbnail_img {
    border-radius: 5px;
}

.recipe-thumbnail_img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.rounded-block {
    border-radius: .375rem;
}

/* LOGIN PAGE */
.bg-login {
    background-color: rgb(7, 30, 130, 0.1);
}

.signin-block_form_input {
    margin-bottom: 20px;
}

.signin-block_form_input input {
    border: 0;
    border-bottom: 1px grey solid;
    border-radius: 0;

}

/***** RECIPE CREATION PAGE *****/
#newRecipe-section {
    background-image: url('../images/mariana-medvedeva-iNwCO9ycBlc-unsplash.jpg');
    background-size: cover;
}

.newRecipe-block_form_input {
    margin-bottom: 30px;
}

.newRecipe-block_form_input label {
    font-weight: bold;
}

/***** RECIPE TEMPLATE *****/
#recipeTemplate-section {
    background-color: rgb(7, 30, 130, 0.1);
}

#recipeTemplate-section .top-links {
    font-size: 11px;
    color:#e89b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#recipeTemplate-section .top-links a {
    text-decoration: underline;
    color:#e89b9b;
}

#recipeTemplate-section .top-links a:hover {
    color:#071e82;
}

#recipeTemplate-section .top-links .action-btn button {
    border: 0;
    background-color: transparent;
}

#recipeTemplate-section .recipe-block {
    margin-bottom: 30px;
}

.recipe-author {
    font-size:13px;
}

.recipe-category-label {
    display: inline-block;
    background-color: rgb(7, 30, 130);
    color: white;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 13px;
}

#recipeTemplate-section .recipe-block_img figure {
    object-fit: contain;
}

#recipeTemplate-section .recipe-block_img img {
    width: 100%;
    border-radius: 15px;
}
/*
#recipeTemplate-section .recipe-block_description h2 {
    position:relative;
    display: inline-block;
    width: 200px;
}
#recipeTemplate-section .recipe-block_description h2::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 500px;
    right: -10%;
    top: 50%;
    background-color: #e89b9b;
    transform-origin: right;
    transform: rotate(180deg);

}*/

.recipe-block_description .recipe-block_description-elt {
    margin-bottom: 30px;
}

.recipe-block_description .recipe-block_description-elt h2 i {
    margin-right: 10px;
    font-size: 20px;
}


/********** USER PROFILE **********/
#profile-page .profile_menu {
    padding-left: 0;
}
#profile-page .profile_content h2 {
    margin-bottom: 40px !important;
}

#profile-page figure {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
    height:160px;
    width: 160px;
    border-radius: .375rem;
}

#profile-page figure img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: .375rem;
}

#profile-page form {
    padding: 0 !important;
}

#profile-page form .profile_form-input {
    margin-bottom:15px;
}

#profile-page form .profile_form-input label {
    font-weight: bold;
}

.profile_menu-link a:hover {
    background-color: #f0f0f0;
}

.profile_menu-link {
    position: relative;
    height: 40px;
    list-style-type: none !important;
    padding: 10px;
    display: flex;
    align-items: center;
}

.profile_menu-link a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    line-height: 1;
}
.profile_menu-link a i {
    margin-right: 10px;
}

.profile_menu-link a.active {
    background-color: #071e82;
    border-radius: .375rem;
    color: #fff;
}

#profile-page .profile_content {
    display: none;
}

#profile-page .profile_content.active {
    display: block;
}